body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff; 
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.menu {
    display: flex;
    gap: 40px;
}


.contacts-data,
.mail-phone {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation,
.mail-phone {
    padding-top: 24px;
    padding-bottom: 24px;
}

/*.navigation {
    padding-left: 156px;
}*/

.mail-phone {
    padding-right: 156px;
    gap: 40px;
}

.menu {
    padding-left: 76px;
    gap: 40px;
}

address {
    font-style:normal;
}

img {
    display: block;
}

.logo,
.logo span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 25.5 76 25.5 200;
}

.logo {
    color: #4D5AE5;
}

header .logo span {
    color: #2e2f42;
}

footer .logo span {
    color: #f4f4fd;
}

.nav-link,
.contacts {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.nav-link {
    font-weight: 500;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.hidden-title,
.our-team-title,
.portfolio-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
/*
h1 {
    width: 496px;
}
*/
.features-title,
.product-title,
.employee-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description,
.employee-position {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.employee-photo {
    background-color: #ffffff;
    text-align: center;
}

.our-team-section {
    background-color: #f4f4fd;
}
footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}
.footer-description {
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.header-section {
    border-bottom: 1px solid #e7e9fc;
/*    background-color: green;*/
}



.main-page-section,
.our-team-section,
.portfolio-section,
.footer {
    width: 100%;
}

.main-page-section {
    padding: 188px 0;
    background-color: #2e2f42;
    text-align: center;
}

.main-page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding-top: 88px;
    padding-bottom: 48px;
    max-width: 496px;
}

.main-page-title span {
    width: 496px;
}

.main-page-button {
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-bottom: 188px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.main-page-button:hover {
    background-color: #404BBF;
}

.main-page-button:focus {
    background-color: #404BBF;
}

.features,
.our-team-photos,
.portfolio-items-first,
.portfolio-items-second {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center; 
    gap: 24px;
}
.features-section,
.our-team-section,
.portfolio-section {
    padding: 120px 156px;
}

.footer {
    padding: 100px 156px;
}

.our-team-title,
.portfolio-title {
    margin-bottom: 72px;
}

.product-title {
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.product-description {
    margin-left: 16px;
    margin-bottom: 32px;
}
.portfolio-items-first {
    margin-bottom: 48px;
}
.footer-description {
    width: 264px;
    margin-top: 16px;
}